{
	"server": {
		"address": "0.0.0.0",
		"port": ~NIP_RESTAPI_PORT~,
		"version": "*",
		"agent": false
	},
	"cors": {
		"whitelist": ~CORS_WHITELIST~
	},
	"auth0": {
		"secret": "~JWT_SECRET~",
		"audience": "~JWT_AUDIENCE~"
	},
	"mongoDbUrl": "~NIP_MONGO_HOST~",
	"logging": {
		"name": "RESTAPI",
		"logLevels": {
			"none": 0,
			"errors": 1,
			"log": 2,
			"warnings": 3,
			"info": 4,
			"debug": 5,
			"verbose": 6
		},
		"bunyan": {
			"name": "noInfoPath::restapi",
			"enabled": true,
			"streams": [{
				"level": "error",
				"type": "rotating-file",
				"path": "~NIP_LOG_ROOT~restapi_errors.log",
				"period": "1d",
				"count": 10
			}]
		}

	},
	"googleApis": {
		"gcs": {
			"projectId": "noinfopath-141618",
			"keyFilename": "keyfiles/noinfopath-9bb0a83edb7f.json"
		}
	},
	"amazonApis": {
		"s3": {
			"apiVersion": "2006-03-01",
			"region": "us-east-1",
			"signatureVersion": "v4",
			"credentials": {
				"accessKeyId": "~AWS_S3_ID~",
				"secretAccessKey": "~AWS_S3_SECRET~"
			}
		}
	}
}
