[{
	"storageType": "mgfsb",
	"mongoDbUrl": "~NIP_MONGO_HOST~/efr2_dtc",
	"uri": "dtc/changes",
	"collectionName": "changes",
	"primaryKey": "ChangeID",
	"fileNameProperty": "ChangeID",
	"metadata": ["ChangeID", "CreatedBy", "DateCreated", "ModifiedBy", "ModifiedDate", "namespace", "state", "timestamp", "transactionId", "userId"],
	"odata": true
},
{
	"storageType": "awss3-passthru",
	"uri": "aws/bucket",
	"bucketName": "rm-efr-data",
	"folderName": "rm-efr-data/NoFileCache/"
},
{
	"mongoDbUrl": "~NIP_MONGO_HOST~/efr2_dtc",
	"uri": "dtc/log",
	"collectionName": "logs",
	"primaryKey": "_id"
}]
